nav {
    box-shadow: 0px 0px 10px 0px;
}

.logo {
    height: 40px;
    width: 150px;
}

button {
    background-color: #9d0a0e;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #84080c;
}
i.bx.bxs-log-in-circle {
    font-size: xx-large;
    color: #9d0a0e;
}

i.bx.bxs-log-in-circle:hover {
    color: #84080c;
}